<html>
	<head>
		<title>Hello World</title>
	</head>
	<style>
		body{
			background-image:url('C:/Users/SU20366901/Downloads/pexels-aleksandar-pasaric-325185.jpg')
		}
		
	</style>
	<body id="webBody">
		<center><h2>Registration Page</h2></center>
		<form>
			<label>First Name:</label><br>
			<input type="text" id="firstName" name="firstName"><br>
			
			<label>Last Name:</label><br>
			<input type="text" id="lastName" name="lastName"><br>
			
			<label>Email:</label><br>
			<input type="email" id="email" name="email"><br>
			
			<label>Phone:</label><br>
			<input type="text" id="phone" name="phone"><br>
			
			<label>Address:</label><br>
			<textarea id="address" name="address" rows="2" cols="21"></textarea><br>
			
			<label>City:</label><br>
			<select id="city">
				<option>---Select City---</option>
				<option>Chennai</option>
				<option>Bangalore</option>
			</select><br>
			
			<label>Gender:</label><br>
			<input type="radio" class="gender" name="gender"> Male<br>
  			<input type="radio" class="gender" name="gender"> Female<br>
  			
  			<label>Food Preference:</label><br>
  			<input type="checkbox" name="veg" value="Veg">Veg<br>
  			<input type="checkbox" name="veg" value="Non Veg">Non Veg<br> 
  			
			<input type="submit" value="Submit">
		</form>
	</body>
</html>